  .example-container {
    height: 600px;
    background: #FFFFFF;
  }
  
  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
  }
