<div class="cart">
    <div class="cart-nav">
        <div class="cart-nav__title">
            <img width="29" height="29" src="assets/cart.svg"/><span>Cart</span>
        </div>
        <div class="cart-nav__clear" (click)="onCleanProducts()">
            <img width="20" height="20" src="assets/small-cart.svg"/><span>Empty the trash</span>
        </div>
    </div>

    <div class="cart-items" *ngIf="cartState$; else empty">
        <ng-container *ngFor="let selectedProduct of (cartState$ | async)?.data; trackBy: trackByItems">
            <app-cart-item
             [product]="selectedProduct"
            >
            </app-cart-item>
        </ng-container>
    </div>

    <div class="cart-order">
        <div class="cart-order__result">
            <div class="cart-order__amount">
                <span>Amount:</span><span> {{this.rezultProductsCount$ | async}} pc.</span>
            </div>
            <div class="cart-order__total">
                <span>Total:</span><span> {{this.rezultProductsSum$ | async}} BYN</span>
            </div>
        </div>
        <div class="cart-order__buttons">
            <button class="return-btn">&lt; Return to products</button>
            <button class="order-btn" (click)="order()">Order</button>
        </div>
    </div>
</div>

<ng-template #empty>
    <h2>Empty cart</h2>
    <p>Most likely you haven't ordered pizza yet. To order pizza, go to the main page.</p>
</ng-template>
