.header {
    display: flex;
    justify-content: space-between;
    height: 133px;
    padding-top: 42px;
    padding-left: 67px;
    padding-right: 67px;
    border-bottom: 1px solid #F7F7F7;
    font-style: normal;
    
    &__title-block {
        display: flex;
    }

    &__title {
        margin-left: 10px;
    }

    &__title-pizza {
        text-transform: uppercase;
        font-weight: bold;
    }

    &__title-biggest {
        color: #7B7B7B;
    }

    &__cart-info {
        height: 50px;
        width: 150px;
        display: flex;
        background: #FE5F1E;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;

        .divider {
            margin-left: 5px;
        }
    }
    
    &__cart-count {
        margin-left: 2px;
        display: flex;
        align-items: center;

        span {
            margin-left: 2px;
        }
    }
}
