<div class="product-view">
    <button class="product-view-btn" mat-button (click)="openDialog()">view</button>
    <img class="product-img" width="260" height="260" src="{{card.imgUrl}}"/>
    <p class="product-view__title">{{card.name}}</p>
    <div class="product-view__params">
        <div class="product-view__description" (click)="selectProductCategory($event)">
            <input appFrame type="button" value="{{card.category.thin}}" />
            <input appFrame type="button" value="{{card.category.traditional}}" />
            <input appFrame type="button" value="{{card.category.cheeseBoard}}" />
        </div>
        <div class="product-view__size" (click)="selectProductSize($event)">
            <input appFrame type="button" value="{{card.size.small}}" />
            <input appFrame type="button" value="{{card.size.medium}}" />
            <input appFrame type="button" value="{{card.size.big}}" />
        </div>
    </div>
    <div class="product-view__options">
        <p>{{card.price}} BYN</p>
        <button (click)="onAdd(card)" [disabled]="!card.isAvaliable">
            + Add to cart <span *ngIf="this.cardCount">{{this.cardCount}}</span>
        </button>
    </div>
</div>
