.login-page {
    height: 100vh;
    position: relative;
  }
  
  .form {
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -110px;
    border-radius: 10px;
    padding: 20px;
    border: 3px solid #FE5F1E;
    width: 400px;
    position: absolute;
  
    &__login-field {
      width: 100%;
    }
  
    &__password-field {
      width: 100%;
    }

    .login-btn, .registration-btn {
      background-color: #FE5F1E;
      color: #FFFFFF;
    }

    .login-btn {
      float: right;
    }
  }
  