@import url("https://fonts.googleapis.com/css?family=Roboto");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  border: 30px solid #FFDF8C;
  max-width: 1600px;
  min-height: 100vh;
  font-family: "Roboto", "Helvetica Neue", sans-serif;

  .cdk-overlay-pane {
    min-width: 70vw;
  }
}
